{% extends "layout.html" %} {% block title %}{{ _('Change User Password') }}{% endblock %} 
{% import "bootstrap/wtf.html" as wtf %}
{% block headerscripts %}
{% endblock %} 
{% block content %}
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center text-center">
<main class="change-form">
   <h1 class="h3 mb-3 text-gray-900">{{ _('Change your Password') }}</h1>
   <div class="box">
      {{ wtf.quick_form(change_password_form) }}
    </div> 
</main>
<script>
window.addEventListener("load", function(){
    var checkbox  = document.getElementById('check');
    var x = document.getElementById('password');
    checkbox.addEventListener('change', function() {
        if(this.checked) {
            x.type = 'text';
        } else {
            x.type = 'password'; 
        }
    });
});
</script>
{% endblock %}
</div>