{% extends "layout.html" %} {% block title %}Edit Profile{% endblock %} 
{% import "bootstrap/wtf.html" as wtf %}
{% block headerscripts %}
{% endblock %} 
{% block content %}
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center text-center">
<main class="change-form">
   <h1 class="h3 mb-3 text-gray-800">Change your current Site</h1>
   <h3 class="h5 mb-3 text-gray-600">Your current Site is: {{ current_user.site }}</h3>
   <div class="box">
      {{ wtf.quick_form(change_site_form) }}
      {% endblock %}
</main>
</div>