{% extends "layout.html" %} {% block title %}Login{% endblock %} 
{% import "bootstrap/wtf.html" as wtf %}
{% block headerscripts %}
{% endblock %} 
{% block content %}
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center text-center">
<main class="change-form">
   <h1 class="h3 mb-3 text-gray-900">Login</h1>
   {% with messages = get_flashed_messages(with_categories=true) %}
   				{% if messages %}
				{% for category, message in messages %}
   					<div class="alert alert-{{ category }}" role="alert"> {{ message }}
      					<button type="button" class="close" data-dismiss="alert">&times;</button>
   					</div>
   				{% endfor %}
				{% endif %}
			   {% endwith %}
   <div class="box">
      {{ wtf.quick_form(form) }}
    </div> 
	  <em>Need an account? </em><a href="/register">Signup!</a>
</main>
{% endblock %}
</div>