{% extends "layout.html" %} 
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Reset Password{% endblock %} 
{% block content %}
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center text-center">
   <main class="form-signin">
      <h1 class="h3 mb-3 text-gray-800">Reset your Password</h1>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}
<div class="add-recipe">
  <div class="page-header">
  </div>
    <div class="box">
      {{ wtf.quick_form(form) }}
    </div> 
   </main>
</div>
{% endblock %}