aiohttp==3.6.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.1.0
chardet==3.0.4
idna==2.10
multidict==4.7.6
numpy==1.19.1
opencv-python==4.4.0.42
typing==3.7.4.3
typing-extensions==3.7.4.3
yarl==1.5.1
