.visually-hidden {
  display: none;
}
.div-hover-blue:hover {
  background-color: #f0f8ff;
}

.div-hover-green:hover {
  background-color: #f0fff0;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.error-text {
  width: 50%;
}

.btn-default {
  color: #fff;
  background-color: #4e73df;
  border-color: #4e73df;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.change-form {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}

.table-buttons {
  margin: 6px;
}

.checkbox {
  padding-bottom: 10px;
}