{% extends "layout.html" %} 
{% block title %}Home{% endblock %} 
{% block heading %}Blocktopus Frontend{% endblock %} 
{% block content %}
<!-- Main Content -->
<div class="container-fluid">
   <!-- Page Heading -->
   <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
      <h1 class="h3 mb-0 text-gray-800">Blocktopus Dashboard</h1>
   </div>
   <div class="row">
      <div class="col-md-6 mb-4">
         <div class="card border-left-success shadow h-100 py-2 div-hover-green">
            <a href="abc.html" class="text-decoration-none">
               <div class="card-body">
                  <div class="row no-gutters align-items-center">
                     <div class="col mr-2">
                        <div class="text-s font-weight-bold text-success text-uppercase mb-1">
                           Create new Sketch with Blockly
                        </div>
                        <div class="h2 mb-0 font-weight-bold text-gray-800">
                           New Sketch
                        </div>
                     </div>
                     <div class="col-auto">
                        <i class="fas fa-pencil-alt fa-3x text-gray-400"></i>
                     </div>
                  </div>
               </div>
            </a>
         </div>
      </div>
      <div class="col-md-6 mb-4">
         <div class="card border-left-primary shadow h-100 py-2 div-hover-blue">
            <a href="abc.html" class="text-decoration-none">
               <div class="card-body">
                  <div class="row no-gutters align-items-center">
                     <div class="col mr-2">
                        <div
                           class="text-s font-weight-bold text-primary text-uppercase mb-1">
                           Mass Flow, pH Control
                        </div>
                        <div class="h2 mb-0 font-weight-bold text-gray-800">
                           Standard Library
                        </div>
                     </div>
                     <div class="col-auto">
                        <i class="far fa-play-circle fa-3x text-gray-400"></i>
                     </div>
                  </div>
               </div>
            </a>
         </div>
      </div>
   </div>
   <!-- Content Row -->
   <div class="row mb-4">
      <div class="col-l mb-4">
         <!-- Illustrations -->
         <div class="card shadow border-bottom-danger">
            <div class="card-header py-3">
               <h4 class="m-0 font-weight-bold text-primary"><i class="fas fa-running"></i> Running Experiments</h4>
            </div>
            <div class="card-body">
               <div class="text-center">
                  No running Experiments!
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl">
         <!-- Project Card Example -->
         <div class="card shadow">
            <div class="card-header py-3">
               <h4 class="m-0 font-weight-bold text-primary"><i class="far fa-save"></i> Saved Sketches</h4>
            </div>
            <div class="card-body">
               <table class="table">
                  <thead>
                     <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                     </tr>
                     <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                     </tr>
                     <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
   <div class="row mb-4">
      <div class="col-xl">
         <!-- Approach -->
         <div class="card shadow mb-4">
            <div class="card-header py-3">
               <h4 class="m-0 font-weight-bold text-primary"><i class="far fa-check-square"></i> Completed Experiments</h4>
            </div>
            <div class="card-body">
               <table class="table">
                  <thead>
                     <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                     </tr>
                     <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                     </tr>
                     <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
   <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
{% endblock %}