<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>{% block title %}{% endblock %} | Blocktopus</title>
      {% assets "main_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
      {% endassets %}
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      {% block headerscripts %}{% endblock %}
   </head>
   <body id="page-top">
      <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
         <!-- Sidebar - Heading -->
         <a href="{{ url_for('main.index') }}" class="nav-link">
            <div class="sidebar-brand d-flex align-items-center justify-content-center">
               <div class="sidebar-brand-icon rotate-n-15">
                  <i class="fab fa-octopus-deploy fa-2x"></i>
               </div>
               <div class="sidebar-brand-text mx-3">Blocktopus<sup>V2</sup></div>
            </div>
         </a>
         <!-- Divider -->
         <hr class="sidebar-divider my-0">
         <!-- Nav Item - Home -->
         <li class="nav-item">
            <a href="{{ url_for('main.index') }}" class="nav-link">
            <i class="fas fa-home"></i>
            <span>Home</span></a>
         </li>
         <!-- Divider -->
         <hr class="sidebar-divider">
         <!-- Heading -->
         <div class="sidebar-heading">
            Interface
         </div>
         <!-- Nav Item - Interface -->
         <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-plus-circle"></i>
            <span>Create...</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
               data-parent="#accordionSidebar">
               <div class="bg-white py-2 collapse-inner rounded">
                  <h6 class="collapse-header">Create a new:</h6>
                  <a href="{{ url_for('forms.create_project') }}" class="collapse-item"><i class="far fa-folder-open"></i> Project</a>
                  <a href="{{ url_for('queries.choose_projects') }}" class="collapse-item"><i class="fas fa-flask"></i> Experiment</a>
                  <a class="collapse-item" href="/"><i class="fas fa-pencil-alt"></i> Sketch</a>
               </div>
            </div>
         </li>
         <!-- Nav Item - Projects -->
         <li class="nav-item">
            <a href="{{ url_for('queries.projects') }}" class="nav-link">
            <i class="fas fa-fw fa-folder-open"></i>
            <span>Projects</span></a>
         </li>
         <!-- Nav Item - Experiments -->
         <li class="nav-item">
            <a href="{{ url_for('queries.experiments') }}" class="nav-link">
            <i class="fas fa-fw fa-flask"></i>
            <span>Experiments</span></a>
         </li>
         <!-- Divider -->
         <hr class="sidebar-divider">
         <!-- Heading -->
         <div class="sidebar-heading">
            Pages
         </div>
         <li class="nav-item">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.profile') }}" class="nav-link">
            <i class="fas fa-user-circle"></i>
            <span>Profile</span>
            </a>
         </li>
         <!-- Nav Item - Pages -->
         <li class="nav-item">
            {% endif %} {% if not current_user.is_authenticated %}
            <a href="{{ url_for('auth.login') }}" class="nav-link">
            <i class="fas fa-sign-in-alt"></i>                   
            <span>Login</span></a>
         </li>
         <li class="nav-item">
            <a href="{{ url_for('auth.register') }}" class="nav-link">
            <i class="fas fa-user-plus"></i>
            <span>Register</span></a>
         </li>
         <li class="nav-item">
            {% endif %} {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}" class="nav-link" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-times-circle"></i>
            <span>Logout</span></a>
            {% endif %}
         </li>
         <!-- Divider -->
         <hr class="sidebar-divider d-none d-md-block">
         <!-- Sidebar Toggler -->
         <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
         </div>
      </ul>
      <!-- End of Sidebar -->
      <div id="content-wrapper" class="d-flex flex-column">
         <div id="content">
            {% block topbar %}{% endblock %}
            {% block content %} {% endblock %}
         </div>
         <footer class="sticky-footer bg-white">
            <div class="container my-auto">
               <div class="copyright text-center my-auto">
                  <span>Blocktopus</span>
               </div>
            </div>
         </footer>
      </div>
      <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
      </a>      
      <!-- Logout Modal-->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  </button>
               </div>
               <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
               <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                  <a href="{{ url_for('auth.logout') }}" class="btn btn-primary">Logout</a>
               </div>
            </div>
         </div>
      </div>
      {% assets "main_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
      {% endassets %}
   </body>
</html>